#container {
    display: flex;
    border: 1px solid blue;
    width: 200px
}
#display {
    color: black;
    width: 100%;

}
#numbs {
    flex-direction: column;
    max-width: 20%;
    
}
.button {
    border: 2px solid black;
    color: black;
    background-color: teal;
    padding: 10px;
}